
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.expensepage {

    display: grid;
    font-size:120%;
    font-family:'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    place-items: center; /* centers both horizontally and vertically */
    height: 50vh; /* full viewport height */
  }
  .Report_ {

    /* display: grid; */
    font-size: 120%;
    font-family:'Times New Roman', Times, serif;
    
   
  }
  .bold-option {
    font-weight: bolder;
    
  } 
  .uploaded-image {
    max-width: 1000px; /* Adjust the maximum width as per your preference */
    display: block; /* Ensures image is centered */
    margin: 0 auto; /* Centers the image horizontally */
  }
  